<div class="row justify-content-center pt-5">
	<div class="col-md-11">
		<div class="card">
			<div class="card-body users-card">
				<div class="container-fluid">
					<div class="row mb-4">
						<div class="col-md-4">
							<button class="btn home-users w-100 cyan darken-1 waves-effect waves-light" ng-click="changePage('student')">
								<span class="fs-2 text-white">ΦΟΙΤΗΤΕΣ</span>
							</button>
						</div>
						<div class="col-md-4">
							<button class="btn home-users w-100 amber darken-1 waves-effect waves-light" ng-click="changePage('secretary')">
								<span class="fs-2 text-white">ΓΡΑΜΜΑΤΕΙΑ</span>
							</button>
						</div>
						<div class="col-md-4">
							<button class="btn home-users w-100 green darken-1 waves-effect waves-light" ng-click="changePage('publisher')">
								<span class="fs-2 text-white">ΕΚΔΟΤΕΣ</span>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<button class="btn home-users w-100 pink darken-1 waves-effect waves-light" ng-click="changePage('distribution-points')">
								<span class="fs-2 text-white">ΣΗΜΕΙΑ ΔΙΑΝΟΜΗΣ</span>
							</button>
						</div>
						<div class="col-md-4">
							<button class="btn home-users w-100 purple darken-1 waves-effect waves-light" ng-click="changePage('library')">
								<span class="fs-2 text-white">ΒΙΒΛΙΟΘΗΚΕΣ</span>
							</button>
						</div>
						<div class="col-md-4">
							<button class="btn home-users w-100 indigo darken-1 waves-effect waves-light" ng-click="changePage('instructor-notes')">
								<span class="fs-2 text-white">ΔΩΡΕΑΝ ΣΗΜΕΙΩΣΕΙΣ/ΔΙΔΑΣΚΟΝΤΕΣ</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>