<nav class="navbar navbar-expand-lg navbar-dark mdb-color darken-2">
	<a class="navbar-brand" href="#!/home">Εύδοξος</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
	aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mx-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#!/home">Αρχική</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" id="studentsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Φοιτητές
				</a>
				<div class="dropdown-menu" aria-labelledby="studentsDropdown">
					<a class="dropdown-item" href="#!/student/home">Αρχική</a>
					<a class="dropdown-item" href="#!/student/declaration/1">Δήλωση</a>
					<a class="dropdown-item" href="#!/student/book/offer">Προσφορά Συγγραμμάτων</a>
					<a class="dropdown-item" href="#!/student/declaration/log">Ιστορικό Δηλώσεων</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" id="secretaryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Γραμματεία
				</a>
				<div class="dropdown-menu" aria-labelledby="secretaryDropdown">
					<a class="dropdown-item" href="#!/secretary/home">Αρχική</a>
					<a class="dropdown-item" href="#">Παράμετροι Διανομής</a>
					<a class="dropdown-item" href="#">Προγράμματα Σπουδών</a>
					<a class="dropdown-item" href="#">Καταχώρηση Συγγραμμάτων</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" id="publishersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Εκδότες
				</a>
				<div class="dropdown-menu" aria-labelledby="publishersDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
					<a class="dropdown-item" href="#">Separated link</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" id="othersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Άλλοι Επαγγελματίες
				</a>
				<div class="dropdown-menu" aria-labelledby="othersDropdown">
					<a class="dropdown-item" href="#">Σημεια Διανομης</a>
					<a class="dropdown-item" href="#">Βιβλιοθηκες</a>
					<a class="dropdown-item" href="#">Διδασκοντες</a>
				</div>
			</li>
		</ul>
		<ul ng-if="isLoggedIn" class="navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.name + " " + user.surname}}<i class="fas fa-user-circle ml-1"></i></a>
				<div class="dropdown-menu" aria-labelledby="userDropdown">
					<a class="dropdown-item" href="#">Προφίλ</a>
					<a class="dropdown-item" ng-click="logout()">Έξοδος</a>
				</div>
			</li>
		</ul>
		<ul ng-if="!isLoggedIn" class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" ng-click="goToLogin()">Είσοδος</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#!/register">Εγγραφή</a>
			</li>
		</ul>
	</div>
</nav>