<nav class="navbar navbar-expand-lg navbar-dark mdb-color darken-2">
	<a class="navbar-brand" href ng-click="changePage('home')">Εύδοξος</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
	aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mx-auto">
			<li class="nav-item active">
				<a class="nav-link" href ng-click="changePage('home')">Αρχική</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" id="studentsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Φοιτητές
				</a>
				<div class="dropdown-menu" aria-labelledby="studentsDropdown">
					<a class="dropdown-item" href="#">Δήλωση</a>
					<a class="dropdown-item" href="#">Προσφορά Συγγραμμάτων</a>
					<a class="dropdown-item" href="#">Ιστορικό Δηλώσεων</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" id="secretaryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Γραμματεία
				</a>
				<div class="dropdown-menu" aria-labelledby="secretaryDropdown">
					<a class="dropdown-item" href="#">Κεντρική</a>
					<a class="dropdown-item" href="#">Παράμετροι Διανομής</a>
					<a class="dropdown-item" href="#">Προγράμματα Σπουδών</a>
					<a class="dropdown-item" href="#">Καταχώρηση Συγγραμμάτων</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" id="publishersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Εκδότες
				</a>
				<div class="dropdown-menu" aria-labelledby="publishersDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
					<a class="dropdown-item" href="#">Separated link</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link" id="othersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Άλλοι Επαγγελματίες
				</a>
				<div class="dropdown-menu" aria-labelledby="othersDropdown">
					<a class="dropdown-item" href="#">Σημεια Διανομης</a>
					<a class="dropdown-item" href="#">Βιβλιοθηκες</a>
					<a class="dropdown-item" href="#">Διδασκοντες</a>
				</div>
			</li>
		</ul>
		<span class="navbar-text white-text mr-4">Είσοδος</span>
		<span class="navbar-text white-text mr-2">Εγγραφή</span>
	</div>
</nav>