<!-- Secondary Navbar -->
<div class="row secondary-nav justify-content-center bg-white">
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none" href="#!/secretary/home">
		Αρχική
	</a>
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none">
		Παράμετροι Διανομής
	</a>
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none">
		Προγράμματα Σπουδών
	</a>
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none active" href="#!/secretary/addbook">
		Καταχώρηση Συγγραμμάτων
	</a>
</div>

<nav class="pt-3" aria-label="breadcrumb">
	<ol class="breadcrumb grey lighten-4">
		<li class="breadcrumb-item"><a href="#!/home">Αρχική</a></li>
		<li class="breadcrumb-item"><a href="#!/secretary/home">Γραμματεία</a></li>
		<li class="breadcrumb-item active">Καταχώρηση Συγγραμμάτων</li>
	</ol>
</nav>

<div class="row justify-content-center pt-3">
	<div class="col-md-10">
		<div class="card">
			<div class="card-header text-center">
				<h5 class="mb-0">Προσθήκη Συγγραμμάτων</h5>
			</div>
			<div class="card-body p-5">
				<div class="container-fluid">
					<div ng-if="secretLoggedIn" class="row justify-content-center pb-3">
						<div class="col">
							<div class="row justify-content-center mb-4">
								<div class="col-md-6 text-center">
									<form class="form-inline">
										<input class="form-control form-control mr-3 w-100" type="text" placeholder="Search" aria-label="Search">
									</form>
								</div>
							</div>
							<div ng-repeat="(index, course) in secretaryUser.department.courses" class="row justify-content-center text-center">
								<div class="col-md-10">
									<div class="row justify-content-center pt-3 pb-2 mb-3">
										<div class="col-md-7">
											Μάθημα: {{course.name}}<br>
											Διδάσκων: {{course.professor}}
										</div>
										<div class="col-md-5">
											<button ng-click="searchShow(index)" type="button" class="btn btn-sm btn-primary">Προσθήκη Συγγράμματος</button>
										</div>
									</div>
									<div ng-if="displayedSearchInput === index" class="row mb-3">
										<div class="col-md-6 offset-1 text-center">
											<form>
												<div class="form-inline">
													<input ng-model="$parent.$parent.$parent.inputCode" class="form-control" type="text" placeholder="Αναζήτηση">
													<button ng-click="getBookByCode()" class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Αναζήτηση</button>
												</div>
											</form>
										</div>
									</div>
									<div ng-repeat="book in books" class="row text-center" ng-if="displayedSearchInput === index">
										<div class="col-md-7">
											Κωδικός: {{book.code}}, {{book.name}}, {{book.author}}, Σύγγραμμα
										</div>
										<div class="col-md-5">
											<button ng-if="!bookAdded" type="button" ng-click="addBook()" class="btn btn-sm btn-outline-warning">Προσθήκη</button>
											<button ng-if="bookAdded" type="button" ng-click="addBook()" class="btn btn-sm btn-outline-danger">Αφαίρεση</button>
										</div>
									</div>
									<hr>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div ng-if="!secretLoggedIn" class="col">
							<div class="row fs-2 mb-5">
								<div class="col text-center">
									Απαιτείται σύνδεση για να δείτε τα στοιχεία σας.
								</div>
							</div>
							<div class="row">
								<div class="col text-center">
									<button class="btn btn-lg rounded mdb-color darken-2" ng-click="goToLogin()">Εισοδος</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>