<!-- Secondary Navbar -->
<div class="row secondary-nav justify-content-center bg-white">
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none active" href="#!/secretary/home">
		Αρχική
	</a>
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none">
		Παράμετροι Διανομής
	</a>
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none">
		Προγράμματα Σπουδών
	</a>
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none" href="#!/secretary/addbook">
		Καταχώρηση Συγγραμμάτων
	</a>
</div>

<nav class="pt-3" aria-label="breadcrumb">
	<ol class="breadcrumb grey lighten-4">
		<li class="breadcrumb-item"><a href="#!/home">Αρχική</a></li>
		<li class="breadcrumb-item active">Γραμματεία</li>
	</ol>
</nav>

<div class="row justify-content-center pt-3">
	<div class="col-md-10">
		<div class="card">
			<div class="card-body p-5">
				<div class="container-fluid">
					<div ng-if="secretLoggedIn" id="info-secretary" class="row">

						<div class="col ml-4 info-main py-3 text-center">
							<h4 class="w-100 mb-4"><strong>Στοιχεία Γραμματείας</strong></h4>
							<h5 class="w-100 px-5 mb-4">{{ secretaryUser.department.name }}</h5>
							<h5 class="w-100 px-5">Πόλη: Αθήνα</h5>
							<h5 class="w-100 px-5">Τ.Κ.: 11111</h5>
							<h5 class="w-100 px-5">Διεύθυνση: Ούλωφ Πάλμε 190, Εντός Πανεπιστημιούπολης</h5>
							<h4 class="w-100 my-4"><strong>Στοιχεία Χρήστη</strong></h4>
							<h5 class="w-100 px-5">Όνομα: {{ secretaryUser.name }}</h5>
							<h5 class="w-100 px-5">Επώνυμο: {{ secretaryUser.surname }}</h5>
						</div>

					</div>
					<div class="row">
						<div ng-if="!secretLoggedIn" class="col">
							<div class="row fs-2 mb-5">
								<div class="col text-center">
									Απαιτείται σύνδεση για να δείτε τα στοιχεία σας.
								</div>
							</div>
							<div class="row">
								<div class="col text-center">
									<button class="btn btn-lg rounded mdb-color darken-2" ng-click="goToLogin()">Εισοδος</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>