<!-- Secondary Navbar -->
<div class="row secondary-nav justify-content-center bg-white">
	<div class="col-md-3 secondary-nav-item py-2 text-center">
		<a href="#!/secretary/home" class="text-grey">Αρχική</a>
	</div>
	<div class="col-md-3 secondary-nav-item py-2 text-center">
		Παράμετροι Διανομής
	</div>
	<div class="col-md-3 secondary-nav-item py-2 text-center">
		Προγράμματα Σπουδών
	</div>
	<div class="col-md-3 secondary-nav-item py-2 text-center active">
		<a href="#!/secretary/addbook" class="text-grey">Καταχώρηση Συγγραμμάτων</a>
	</div>
</div>

<nav class="pt-3" aria-label="breadcrumb">
	<ol class="breadcrumb grey lighten-4">
		<li class="breadcrumb-item"><a href="#!/home">Αρχική</a></li>
		<li class="breadcrumb-item"><a href="#!/secretary/home">Γραμματεία</a></li>
		<li class="breadcrumb-item active">Καταχώρηση Συγγραμμάτων</li>
	</ol>
</nav>

<div class="row justify-content-center pt-3">
	<div class="col-md-10">
		<div class="card">
			<div class="card-body p-5">
				<div class="container-fluid">
					<div ng-if="secretLoggedIn" class="row justify-content-center pt-5 pb-3">
						<div class="col-md-6 text-center">
							<h4>Προσθήκη Συγγραμμάτων</h4>
							<!-- Search form -->
							<form class="form-inline">
  								<input class="form-control form-control-sm mr-3 w-100" type="text" placeholder="Search" aria-label="Search">
							</form>
						</div>
						<div ng-repeat="course in courses" class="col-md-10 text-center">
							<div class="row justify-content-center pt-3 pb-2">
								<div class="col-md-7">
									Μάθημα: {{course.name}}<br>
									Διδάσκων: {{course.professor}}
								</div>
								<div class="col-md-5">
									<button ng-click="searchHidden()" type="button" class="btn peach-gradient">Προσθήκη Συγγράμματος</button>
								</div>
							</div>
							<form ng-if="!isHidden" class="row text-center form-inline mr-auto">
							  <input ng-model="inputValue" class="form-control mr-sm-2" type="text" placeholder="Αναζήτηση" aria-label="Search">
							  <button ng-click="getBookByCode()" class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Αναζήτηση</button>
							</form>
							<div ng-repeat="book in books" class="row text-center">
								<div class="col-md-6 text-center">
									<div class="row text-center">
										<div class="col-md-7">
											Βιβλίο: {{book.name}}
										</div>
										<div class="col-md-5">
											<button type="button" class="btn btn-outline-warning">Προσθήκη</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div ng-if="!secretLoggedIn" class="col mt-5">
						<div class="row fs-2">
							<div class="col text-center">
								Απαιτείται σύνδεση για την καταχώρηση συγγράμματος
							</div>
						</div>
						<div class="row">
							<div class="col text-center">
								<button class="btn btn-lg rounded mdb-color darken-2" ng-click="goToLogin()">Εισοδος</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>