<!-- Secondary Navbar -->
<div class="row secondary-nav justify-content-center bg-white">
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none" href="#!/student/home">
		Αρχική
	</a>
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none active" href="#!/student/declaration/1">
		Δήλωση
	</a>
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none">
		Προσφορά Συγγραμμάτων
	</a>
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none" href="#!/student/declaration/log">
		Ιστορικό Δηλώσεων
	</a>
</div>

<nav class="pt-3" aria-label="breadcrumb">
	<ol class="breadcrumb grey lighten-4">
		<li class="breadcrumb-item"><a href="#!/home">Αρχική</a></li>
		<li class="breadcrumb-item"><a href="#!/student/home">Φοιτητής</a></li>
		<li class="breadcrumb-item active">Δήλωση</li>
		<li class="breadcrumb-item active">Βήμα 1</li>
	</ol>
</nav>

<ng-include src="'html/student-declaration-steps.html'"></ng-include>

<div class="row justify-content-center">
	<div class="col-md-11">
		<div class="card">
			<div class="card-body p-4">
				<div class="container-fluid">
					<div class="row justify-content-center pt-5 pb-3">
						<div class="col-md-6">
							<form name="universityForm">
								<div class="form-group mb-7">
									<label>
										<i class="fas fa-university mr-2"></i>Πανεπιστήμιο
									</label>
									<select class="browser-default custom-select" ng-model="user.declaration.universityId" ng-options="university.id as university.name for university in universities" ng-change="getDepartmentsByUniversityId()" required autofocus>
										<option value="" disabled selected>Διάλεξε το πανεπιστήμιο σου</option>
									</select>
								</div>
								<div class="form-group mb-7">
									<label>
										<i class="fas fa-building mr-2"></i>Τμήμα
									</label>
									<select class="browser-default custom-select" ng-model="user.declaration.departmentId" ng-options="department.id as department.name for department in departments" required ng-disabled="!user.declaration.universityId">
										<option value="" disabled selected>Διάλεξε το τμήμα σου</option>
									</select>
								</div>
								<div class="row">
									<div class="col text-center">
										<button type="submit" ng-disabled="!universityForm.$valid" class="btn btn-indigo rounded" ng-click="goToDeclaration2()">Συνεχεια</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>