<!-- Secondary Navbar -->
<div class="row secondary-nav justify-content-center bg-white">
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none" href="#!/student/home">
		Αρχική
	</a>
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none active" href="#!/student/declaration/1">
		Δήλωση
	</a>
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none">
		Προσφορά Συγγραμμάτων
	</a>
	<a class="col-md-3 secondary-nav-item py-2 text-center decoration-none">
		Ιστορικό Δηλώσεων
	</a>
</div>

<ng-include src="'html/student-declaration-steps.html'"></ng-include>

<div class="row justify-content-center">
	<div class="col-md-10">
		<div class="card">
			<div class="card-body p-4">
				<div class="container-fluid">
					<div class="row">
						<div class="col-9"></div>
						<div class="col-3 text-right">
							<button class="btn btn-sm btn-primary rounded"><i class="fas fa-map-marked-alt"></i></button>
						</div>
					</div>
					<div class="row justify-content-center pt-5 pb-3">
						<div class="col">
							<form name="booksForm">
								<div class="row justify-content-center mb-7">
									<div class="col-md-8">
										<div class="row" ng-repeat="(courseId, book) in user.declaration.books">
											<div class="col fs-2 text-grey">
												<div class="card">
													<div class="card-header">
														{{ course.name + "  " + course.professor}}
													</div>
													<div class="card-body">
														<div class="row mb-3">
															<div class="col">
																<div class="row">
																	<div class="col-1 pr-0">
																		<div class="form-check">
																			<input type="radio" ng-model="user.declaration.books[course.id]" ng-value="book.id" class="form-check-input">
																		</div>
																	</div>
																	<div class="col-9">
																		<div class="row">
																			<div class="col">
																				{{"[" + book.code + "] " + "\"" + book.name + "\""}}
																			</div>
																		</div>
																		<div class="row">
																			<div class="col fs-0-9">
																				{{"Συγγραφέας: " + book.author + ", " + "Σελίδες: " + book.pages}}
																			</div>
																		</div>
																	</div>
																	<div class="col-2">
																		<div class="tooltip">
																			<i class="fas fa-store-alt fs-2"></i>
																			<span class="tooltiptext">Διαθέσιμα στο κατάστημα: 34</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col text-center">
										<button ng-if="isLoggedIn" type="submit" ng-disabled="!booksForm.$valid" class="btn btn-indigo rounded" ng-click="goToDeclaration4()">Συνεχεια</button>
										<button ng-if="!isLoggedIn" type="submit" ng-disabled="!booksForm.$valid" class="btn btn-indigo rounded" ng-click="goToLogin()">Συνδεση για συνεχεια</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>