/* ------------ GENERAL ------------ */
body {
	background-color: #E0E0E0;
}

.home-users {
	height: 11rem;
}

.student-options {
	height: 6rem;
}

.w-4 {
	width: 4rem;
}

.py-7 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.mb-7 {
	margin-bottom: 5rem;
}

.fs-2 {
	font-size: 1.2rem;
}

.fs-0-9 {
	font-size: 0.9rem;
}

.users-card {
	padding: 4rem 5.5rem 4rem 5.5rem;
}

.secondary-nav .active {
	border-bottom: 2px solid #ff9100;
}

.secondary-nav .secondary-nav-item:hover {
	border-bottom: 2px solid #ff9100;
}

#info-secretary .info-main,
#info-secretary .info-admin {
	border: 2px solid grey;
	border-radius: 1rem;
}

.btn-dark-blue {
	background-color: #2e3951;
	color: #ffffff;
}

.scrollable-card {
	position: relative;
	overflow-y: scroll;
	height: 528px;
}

.decoration-none {
	transition: none;
	color: inherit;
    text-decoration: none;
}

.decoration-none:hover {
	transition: none;
	color: inherit;
    text-decoration: none;
}
