/* ------------ GENERAL ------------ */
body {
	background-color: #E0E0E0;
}

.home-users {
	height: 11rem;
}

.w-4 {
	width: 4rem;
}

.py-7 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.mb-7 {
	margin-bottom: 5rem;
}

.fs-2 {
	font-size: 1.2rem;
}

.users-card {
	padding: 5.5rem;
}

.secondary-nav .active {
	border-bottom: 2px solid #ff9100;
}

.secondary-nav .secondary-nav-item:hover {
	border-bottom: 2px solid #ff9100;
}